@model SchoolManager.Application.ViewModels.Employee.EmployeeDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Position</dt>
        <dd class="col-sm-10">@(Model.IsDirector ? "Dyrektor" : Model.PositionName)</dd>

        <dt class="col-sm-2">Date of Employment</dt>
        <dd class="col-sm-10">@Model.DateOfEmployment.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Group</dt>
        <dd class="col-sm-10">@Model.GroupName</dd>

        <dt class="col-sm-2">Pensum Hours</dt>
        <dd class="col-sm-10">@Model.PensumHours</dd>

        <dt class="col-sm-2">Etat</dt>
        <dd class="col-sm-10">@Model.WorkingHours</dd>

        <dt class="col-sm-2">Tydzień pracy</dt>
        <dd class="col-sm-10">@Model.ActualWorkingHours</dd>

        <dt class="col-sm-2">Education</dt>
        <dd class="col-sm-10">@Model.Education</dd>
    </dl>
</div>
<div>
    <a asp-action="EditEmployee" asp-route-id="@Model.Id">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>