@model SchoolManager.Application.ViewModels.Employee.ListEmployeeForListVm

@{
    ViewData["Index"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddEmployee">Nowy pracownik</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Data zatrudnienia
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Pensja zasadnicza
            </th>
            <th></th>
            <th>Grafik</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.EmploymentDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                <td>
                    @Html.ActionLink("Edytuj ", "EditEmployee", new { id=item.Id }) |
                    @Html.ActionLink("Szczegóły ", "DetailsEmployee", new { id = item.Id }) |
                    @Html.ActionLink("Usuń ", "Delete", new { id=item.Id })
                </td>
                <td>
                    <a asp-controller="Schedule" asp-action="Add" asp-route-id="@item.Id">Grafik</a>
                </td>
            </tr>
        }
    </tbody>
</table>
