@model SchoolManager.Application.ViewModels.Schedule.ScheduleForEntryVm

<div class="row justify-content-evenly">
    <div class="col-md-10 col-lg-8">
        <div class="row g-4">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Schedule")" class="btn btn-success btn-lg w-100 h-25 py-4 shadow">
                    <i class="fas fa-Schedule fa-2x mb-2"></i>
                    <br>
                    <span class="fs-4">Grafik</span>
                </a>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Pracownik</th>
            <th>Grupa</th>
            <th>Od</th>
            <th>Do</th>
            <th>Typ</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td>@item.GroupName</td>
                <td>@item.StartTime.ToString("g")</td>
                <td>@item.EndTime.ToString("g")</td>
                <td>@item.EntryType</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
